body {
  display: grid;
  height: 100vh
  grid-template-rows: 50px auto;
  text-align: center;
  grid-template-columns: 200px auto;
}

header{
  font-family: impact;
  font-size: 150%;
  text-align: center;
  background-color: lightblue;
  color: white;
  text-shadow: 2px 2px 1px purple;
  grid-column: 1 / span 2;
  grid-row: 1;
}
nav{
  font-family: monospace;
  height: 100vh;
  background-color: lavender;
}
section{
  font-size: 300%;
  padding: 20px;
}
